<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.android.androidlibrary">

    <application>
        <activity android:name=".ui.JokeActivity"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>